<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>All Messages</h1>
	<!-- messageIdをhiddenフィールドで受け取る -->
	<input type="hidden" id="messageId" th:value="${messageId}" />
	
	<td>
	    <input id="time" type="text" readonly>
	</td>
	<table border="1">
	    <thead>
	        <tr>
	            <th>ID</th>
	            <th>確認</th>
	            <th>CmtFlg</th>
	            <th>DelFlg</th>
	            <th>Message</th>
	            <th>CreatedAt</th>
	            <th>CheckBox</th>
	        </tr>
	    </thead>
	    <tbody id="messagesBody">
	        <!-- JavaScriptでメッセージを動的に挿入 -->
	    </tbody>
	</table>
	<button id="confirmBtn">Confirm Changes</button>
	
	<script src="/message.js"></script>
</body>
</html>