<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FlexGrid入門</title>

    <!-- Wijmoのスタイル（必須） -->
    <link href="css/wijmo.min.css" rel="stylesheet" />

    <!-- Wijmoのコアモジュール（必須） -->
    <script src="scripts/wijmo.min.js"></script>
    <!-- Wijmoコントロール（オプション。必要なコントロールを設定する） -->
    <script src="scripts/wijmo.grid.min.js"></script>
    <!-- Wijmoカスタムカルチャー（オプション。任意のカルチャーを設定する） -->
    <script src="scripts/wijmo.culture.ja.min.js"></script>
    <script src="scripts/app.js"></script>
	
	
</head>
<body>
	<!-- HTML側のコンテナ -->
	<div id="theGrid"></div>
</body>
</html>